* text=auto

.editorconfig text eol=lf
.gitattributes text eol=lf

*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.svg text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
